<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Test">
      <property name="dialect">NHibernate.Dialect.PostgreSQL83Dialect</property>
      <mapping file="Adapters\Mappings\profile.hbm.xml" />
      <mapping file="Adapters\Mappings\banking_detail.hbm.xml" />
      <mapping file="Adapters\Mappings\holding.hbm.xml" />
      <mapping file="Adapters\Mappings\transaction.hbm.xml" />
      <mapping file="Adapters\Mappings\watch_list.hbm.xml" />
      <mapping file="Adapters\Mappings\login_log.hbm.xml" />
    </session-factory>
  </hibernate-configuration>
</configuration>